plots/
extras/
__pycache__/
packages/__pycache__/
.ipynb_checkpoints/

*.pyc
*.pyo
*.pyd

*.pdf
*.vtk
*.simulation.out

*.o
*.mod
*.a
*.so
*.exe
datas/generate_rom_data/extrudate
datas/generate_rom_data/extrudate_swell